<?xml version="1.0"?>
<config>
    <sections>
        <catalog>
            <groups>
                <seo>
                    <fields>
                        <seopagination_enabled translate="label" module="seopagination">
                            <label>Use rel="next" and rel="prev" with paginated pages</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </seopagination_enabled>
                    </fields>
                </seo>
            </groups>
        </catalog>
    </sections>
</config>